* { box-sizing: border-box; }

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.form-title {
    text-align: center;
    color: blue;
}

fieldset {
    width: 50%;
    margin: auto;
    border: none;
}

.wrapper {
    list-style-type: none;
    line-height: 40px;
}

.form-row {
    display: flex;
    justify-content: flex-end;
}
.form-row input, .form-row select {
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;      
}
.form-row label {
    flex: 1;
    text-align: right;
    padding-right: 5%;
}
.form-row input {
    flex: 1;
    height: 22px;
    width: 200px;
}
.form-row select {
    flex: 1;
    height: 22px;
    background: white;
    -webkit-appearance: none;
    border-radius: 0px;
    width: fit-content;
}

.required span:before {
    content: "*";
    color: red;
  }

.btn {
    justify-content: space-evenly;
    padding: 3%;
}

.btn button:hover{
    cursor: pointer;
}
